**/.git
**/.gitignore
**/.DS_Store
**/node_modules
**/dist
**/target
**/.env
**/.env.local
**/.vscode
**/.idea
**/build
**/.gradle
**/npm-debug.log
**/yarn-error.log
**/README.md
**/LICENSE
**/.github
**/.gitattributes
**/docker-compose.yml
**/Dockerfile.dev
**/coverage
